{% extends 'base.html' %}


{% block content %}
  

  
  <main id="main">
    <section>
      <div class="container">
        <div class="row">

          <div class="col-md-9" data-aos="fade-up">
            <h3 class="category-title">Category: {{ category_detail.name }}</h3>
              {% for post_list in object_list %}
            <div class="d-md-flex post-entry-2 half">
              <a href="{{ post_list.get_absolute_url }}" class="me-4 thumbnail">
                <img src="{{ post_list.image.url }}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">{{ post_list.category.name }}</span> <span class="mx-1">&bullet;</span> <span>{{ post_list.created|timesince }} Ago</span></div>
                <h3><a href="{{ post_list.get_absolute_url }}">{{ post_list.name }}</a></h3>
                
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{{ post_list.author.user.image.url }}" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">{{ post_list.author.user }}</h3>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            

            

            

            
            <div class="text-start py-4">
              <div class="custom-pagination">
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}" class="prev">Previous</a>
      {% endif %}
        {% for num in page_obj.paginator.page_range %}
       {% if page_obj.number == num %}
        <a href="#" class="active">{{ num }}</a>
      {% else %}
        <a href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="next">Next</a>
    {% endif %}
  </div>
</div>
          </div>

          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->
            <div class="aside-block">

              <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="true">Popular</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-trending-tab" data-bs-toggle="pill" data-bs-target="#pills-trending" type="button" role="tab" aria-controls="pills-trending" aria-selected="false">Trending</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-latest-tab" data-bs-toggle="pill" data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest" aria-selected="false">Latest</button>
                </li>
              </ul>

              <div class="tab-content" id="pills-tabContent">

                <!-- Popular -->
                <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
                  {% for posts in most_popular_posts %}
                    <div class="post-entry-1 border-bottom">
                        <div class="post-meta"><span class="date">{{ posts.category.name }}</span> <span class="mx-1">&bullet;</span> <span>{{ posts.created|timesince }}</span></div>
                        <h2 class="mb-2"><a href="{{ posts.get_absolute_url }}">{{ posts.name }}</a></h2>
                        <span class="author mb-3 d-block">{{ posts.author.user }}</span>
                    </div>
                    {% endfor %}

                  
                  
                </div> <!-- End Popular -->

                <!-- Trending -->
                <div class="tab-pane fade" id="pills-trending" role="tabpanel" aria-labelledby="pills-trending-tab">
                  {% for post_trends in  post_trend_news %}
                    <div class="post-entry-1 border-bottom">
                        <div class="post-meta"><span class="date">{{ post_trends.category.name }}</span> <span class="mx-1">&bullet;</span> <span>{{ post_trends.created|timesince }}</span></div>
                        <h2 class="mb-2"><a href="{{ post_trends.get_absolute_url }}">{{ post_trends.name }}</a></h2>
                        <span class="author mb-3 d-block">{{ post_trends.author }}</span>
                    </div>
                    {% endfor %}

                 

                  

                  
                </div> <!-- End Trending -->

                <!-- Latest -->
                <div class="tab-pane fade" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab">
                  
                  {% for latest in all_latest_post %}
                    <div class="post-entry-1 border-bottom">
                        <div class="post-meta"><span class="date">{{ latest.category.name }}</span> <span class="mx-1">&bullet;</span> <span>{{ latest.created|timesince }} ago</span></div>
                        <h2 class="mb-2"><a href="{{ latest.get_absolute_url }}">{{ latest.name }}</a></h2>
                        <span class="author mb-3 d-block">{{ latest.author }}</span>
                    </div>
                    {% endfor %}

                </div> <!-- End Latest -->

              </div>
            </div>

            <div class="aside-block">
              <h3 class="aside-title">Video</h3>
              <div class="video-post">
                <a href="https://www.youtube.com/watch?v=AiFfDjmd0jU" class="glightbox link-video">
                  <span class="bi-play-fill"></span>
                  <img src="assets/img/post-landscape-5.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Video -->
            <div class="aside-block">
              <h3 class="aside-title">Categories</h3>
              <ul class="aside-links list-unstyled">
                {% for categories in category %}
                <li><a href="{{ categories.get_absolute_url }}"><i class="bi bi-chevron-right"></i>{{ categories.name }}</a></li>
                {% endfor %}
              </ul>
            </div>

           

            

          </div>

        </div>
      </div>
    </section>
  </main><!-- End #main -->
  {% endblock content %}
  